.comment {
    background-color: $light-grey;
    padding: 1rem;
    margin-bottom: 1.5rem;
    border-radius: $border-radius;
    position: relative;

    &__date {
        font-size: $c-font-sm;
        font-weight: bold;
        text-align: right;
    }

    &__content {
        margin-left: 40px;
    }

    &__avatar {
        min-width: 30px;
        height: 30px;
        margin-right: 10px;
        border-radius: $border-radius-pill;
        background-color: black;
    }

    &__text {
        font-size: $c-font-sm;
    }

    &__delete {
        position: absolute;
        background-color: $danger;
        width: 30px;
        height: 30px;
        line-height: 30px;
        right: -10px;
        top: -10px;
        padding: 0;
        transition: all 0.3s;
        i {
            font-weight: bold;
            color: white;
        }
    }
}
