$fontf-post-title: "Barlow", sans-serif;

.post {
    min-width: 280px;
    height: auto;

    &__info-container {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
        font-size: $c-font-sm;

        @include breakpoint(small) {
            justify-content: space-between;
            align-items: center;
            flex-direction: row;
        }
    }

    &__title {
        font-family: $fontf-post-title;
        margin-bottom: 0.5rem;
    }

    &__para {
        text-indent: 30%;
    }

    
    &__body p,&__para {
        white-space: initial;
        overflow: hidden;
        line-height: 1.8rem;
        text-align: justify;
        @include breakpoint(medium) {
            font-size: $c-font-nm;
        }
    }

    &__body {
        img {
            display: block;
            margin: 16px auto;
            width: 280px !important;
            height: auto !important;
            max-height: 500px !important;

            @include breakpoint(medium) {
                width: 680px !important;
                max-width: 100% !important;
            }
        }

        table {
         width: 100%;
         border: 1px solid $black;
        }

        table tr td {
           padding: 10px;
        }
        
        table tr td:not(:last-child) {
         border-right: 1px solid $black;
        }
    }

    &__img {
        min-width: 280px;
        width: 530px;
        min-height: 160px;
        height: 200px;
        border-radius: $border-radius;

        @include breakpoint(small) {
            min-width: 540px;
            width: 951px;
            min-height: 160px;
            height: 350px;
        }
    }

    &__info {
        display: flex-end;
        align-items: center;
        color: $primary;

        span:not(:last-child) {
            margin-right: 8px;
        }
    }

    &__category {
        font-size: $c-font-sm;
    }

    &__tag-btn {
        font-size: $c-font-sm;
        border-radius: 15px;
    }

    &__profile-img-container {
        width: 30px;
        height: 30px;
        border-radius: 100%;
        overflow: hidden;
        background-color: $gray-400;
    }

    &__profile-img {
        width: 30px;
        height: 30px;
    }

    &__profile-img-icon {
        width: 20px;
        height: 20px;
    }
}
