// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------
@font-face {
    font-family: Mogen;
    font-weight: bold;
    src: url("/public/build/assets/fonts/Mogen-Bold.otf") format("opentype");
}