.recent-list {
    &__list-container {
        height: rem(70);
    }

    &__list {
        width: 100%;
    }

    &__list-right-container {
        width: 100%;

        @include breakpoint(medium) {
            width: 80%;
        }
    }

    &__list-img {
        display: none;
        @include breakpoint(medium) {
            display: inline-block;
            width: 50px;
            height: 50px;
            object-fit: cover;
        }
    }

    &__list-title {
        white-space: nowrap;
        overflow: hidden;
        height: rem(16);
        text-overflow: ellipsis;
        margin: 0;
    }

    .list-owner {
        width: 50%;

        @include breakpoint(small) {
            width: 100%;
        }
        &__name {
            white-space: nowrap;
            overflow: hidden;
            height: rem(16);
            text-overflow: ellipsis;
            line-height: rem(16);
            color: $primary;
        }

        &__img-container {
            width: 30px;
            height: 30px;
            border-radius: 100%;
            overflow: hidden;
            background-color: $gray-200;
        }

        &__img {
            width: 30px;
            height: 30px;
        }

        &__img-icon {
            width: 20px;
            height: 20px;
        }
    }

    &__list-date {
        display: none;
        @include breakpoint(medium) {
            display: inline-block;
        }
    }
}

.chart-card {
    &__container {
        height: 100%;
        max-height: 200px;
        @include breakpoint(small) {
            max-height: 300px;
        }
        @include breakpoint(xxlarge) {
            max-height: 500px;
        }
    }
}
