@charset "UTF-8";
// icons
@import "bootstrap-icons/font/bootstrap-icons.css";

// 1. Configuration and helpers
@import
  'abstracts/breakpoints',
  'abstracts/variables',
  'abstracts/functions',
  'abstracts/mixins';

// 2. Vendors
@import
  'vendors/normalize',
  'vendors/bootstrap';

// 3. Base stuff
@import
  'base/base',
  'base/fonts',
  'base/typography',
  'base/helpers';

// 4. Layout-related sections
@import
  'layout/main-wrapper',
  'layout/header',
  'layout/footer';

// 5. Components
@import
  'components/navs/sidebar',
  'components/navs/topbar',
  'components/card',
  // 'components/c-collapse',
  'components/button';

// 6. Page-specific styles
@import
  'pages/home';

// 7. Themes
@import
  'themes/default';
