.post-show {
   .post-detail {
   &__info {
      display: inline-block;
      background-color: $gray-200;
      padding: 0.5rem;
      border-radius: 5px;
   }

   &__label {
      margin-bottom:6px;
      display: block;
      @include breakpoint(medium) {
         width: 100px;
         margin-bottom: 0;
         margin-right: 6px;
      }
   }

   &__description {
      display: inline-block;
      background-color: $gray-200;
      padding: 0.5rem;
      border-radius: 5px;
      height: 10rem;
      width: 100%;
      overflow-y: scroll;

      @include breakpoint(medium) {
         width: 80%;
      }
   }

   &__featured-img {
      width: 230px;
      object-fit: cover;
      height: 200px;
   }
}
}