.post-show {
   .post-detail {
      &__info {
         display: block;
         background-color: $gray-200;
         padding: 0.5rem;
         border-radius: 5px;
      }

      &__label {
         margin-bottom:6px;
         display: block;
      }

      &__description,&__body {
         display: block;
         background-color: $gray-200;
         padding: 1rem;
         border-radius: 5px;
         height: 10rem;
         width: 100%;
         overflow-y: scroll;
      }

      &__body {
         height: 30rem;
        img {
            display: block;
            margin: 16px auto;
            width: 280px !important;
            height: auto !important;
            max-height: 500px !important;
            
            @include breakpoint(medium) {
                width: 680px !important;
                max-width: 100% !important;
            }
        }
    }

   }

   &__img-container {
      height: 200px;
      background-color: $gray-200;

      @include breakpoint(small) {
         height: 400px;
      }

      @include breakpoint(medium) {
         height: 200px;
      }

   }

   &__featured-img {
      width: 100%;
      object-fit: cover;
      height: 200px;

      @include breakpoint(small) {
         height: 400px;
      }

      @include breakpoint(medium) {
         height: 200px;
      }
   }

   &__partial-item {
      .label {
         display: inline-block;
         font-weight: bold;
         width: 100px;
      }

      display: block;
      background-color: $gray-200;
      padding: 0.5rem;
      border-radius: 5px;
   }
}