.post-create {
    &__img-container {
        height: 200px;
        background-color: $gray-200;

        @include breakpoint(small) {
            height: 400px;
        }

        @include breakpoint(medium) {
            height: 200px;
        }
    }

    &__tags-container {
      max-height: 160px;
      overflow-y: auto;
   }

    .ck-editor__editable_inline {
        min-height: 400px !important;
    }

    .ck-editor__editable {
        background-color: $gray-200 !important;
    }
}
